<div class="face-snap-card" [ngClass]="{ snapped: btnText === 'Oops, unSnap!'}">
    <h2>[{{ faceSnap.id }}] - {{ faceSnap.title | titlecase }}</h2>
    <br>
    <img [src]=" faceSnap.imageUrl" [alt]="faceSnap.title">
    <br>
    <br>
    <button (click)="onViewFaceSnap()" class="viewBtn">VIEW</button>
    <br>
    <br>
    <button (click)="onReact('cool')">Cool</button>
    <button (click)="onReact('bof')">Bof-Bof</button>
    <button (click)="onReact('intéressant')">Intéressant !</button>
    <button (click)="onReact('Merci')">Merci bien !</button>
    <br>
</div>