<app-face-snap *ngFor="let faceSnapElementInArray of this.faceSnapService.getAllFaceSnaps()" [faceSnap]="faceSnapElementInArray" (newItemEvent)="logOutput($event)" (anotherNewItemEvent)="logChangesOutput($event)">
    <!-- {{faceSnapElementInArray.description}} - {{faceSnapElementInArray.snaps}} -->
</app-face-snap>

<button (click)="onSave()">sauvegarder</button>
<ul>
    <li *ngFor="let item of reactions">{{item}}</li>
</ul>


<h2>Changelogs: </h2>
<div *ngFor="let item of changelogs">
    <div class="card">
        <div class="container">

            <p><u>Full Changelog</u></p>
            <p><u>Nouveau texte</u> : <i>{{item.valueText}}</i> anciennement <i>{{item.old_valueText}}</i></p>
            <p><u>Nouveau nombre</u> : <i>{{item.valueNumber}}</i> anciennement <i>{{item.old_valueNumber}}</i></p>
            <p><u>Item qui change</u> :
                <span *ngIf="item.valueText!==item.old_valueText">Description</span>
                <span *ngIf="item.valueNumber.toString()!==item.old_valueNumber.toString()">Nombre de vues</span>
            </p>
        </div>
    </div>
    <br><br>
</div>